// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    font-size: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

body {
    line-height: 1.7;
}

a {
    text-decoration: none;
}

/* ヘッダーの検索・ログイン・ログアウト・タイトル部分 */

.page-header {
    background-color: #eee;
}

.header-title {
    font-size: 50px;
    text-align: center;
}

.login-logout {
    display: flex;
    justify-content: flex-end;
    .login{
        display: block;
        margin: 10px 10px 10px 0;
    }
    .register {
        display: block;
        margin: 10px 20px 10px 0;
    }
}

/* ミュージアムカテゴリー */
.category-navi {
    background: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
    margin-bottom: 0;
    li {
        display: table-cell;
        width: 16.66666666%;
        padding: .5em 0;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.8;
        vertical-align: middle;
        .category {
            display: block;
            padding: 0.5em 10px;
            text-align: center;
            white-space: nowrap;
            border-right: 1px solid #eee;
        }
        .a-contact {
            display: block;
            padding: 0.5em 10px;
            text-align: center;
            white-space: nowrap;
            background-color: pink;
            border: 1px #ddd solid;
            border-radius: 20%;
        }
        span {
            display: block;
            font-size: .8em;
            text-transform: uppercase;
            color: #ddd;
        }
    }
    .li-contact {
        margin: 0 20px;
    }
}

/* メインコンテンツ */
.contents {
    text-align: center;
    &.wrapper {
        margin: 20px 0;
    }
}


/* フッター */
footer .wrapper {
    text-align: center;
    background-color: red;
    padding: 20px 0;
    background-image: url('../img/footer.jpg');
}
